<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Dashboard·Nexus</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/docs/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dash.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/echarts/doc/asset/js/esl/esl.js"></script>
  </head>

  <body>

    {% include 'dash_head.html' %}
    {% include 'side_bar.html' %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Nexus </h1>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Group <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <script type="text/javascript">
          var groups = {{groups|safe}}
          for (var i = 0; i < groups.length; ++i) {
            document.write('<li><a href="' + '/nexus/?group=' + groups[i] + '">' + groups[i] + '</a></li>')
          }
          </script>
        </ul>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
        <script type="text/javascript">
          var apps = {{apps|safe}};

          document.write("<thead>")
          document.write("<tr>")
          document.write("<th>App</th>")
          document.write("<th>Cpu</th>")
          document.write("<th>Memory</th>")
          document.write("<th>Disk</th>")
          document.write("<th>Flash</th>")
          document.write("</thead>")

          for (var i = 0; i < apps.length; ++i) {
            var app = apps[i];
            if (app['name'] == 'nexus') {
              document.write("<tbody>")
              document.write("<td>" + app['name'] + "</td>")
              document.write("<td>" + app['cpu'] + "</td>")
              document.write("<td>" + app['mem'] + "</td>")
              document.write("<td>" + app['disk'] + "</td>")
              document.write("<td>" + app['flash'] + "</td>")
              document.write("<td></td></tr>")
              document.write("</tbody>")
            }
          }
        </script>
        </table>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include 'js.html' %}
  </body>
</html>
