<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Contact·Tera</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/docs/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->

    <script src="/static/echarts/doc/asset/js/esl/esl.js"></script>
    <link href="/static/css/home.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <!--
    <div id="head" class="navbar-wrapper"></div>-->
    {% include 'nav.html' %}

    <div class="container top-offset main">
      <h1 class="page-header">Benchmarks</h1>

      <div class="container featuretten col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1">
        <div class="row">
            <div id="graphic" class="col-md-12">
                <div id="main-1" style="height:400px;width:100%"></div>
                <div align=center> <input id=box0 type="checkbox" checked="checked" onclick="abs_click(this, 0)"> Absolute position </div>
            </div><!--/span-->
        </div><!--/row-->
      </div><!--/.fluid-container-->

      <div class="container featuretten col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1">
        <h1 class="page-header"></h1>
      </div>

      <div class="container featuretten col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1">
        <div class="row">
          <div id="graphic" class="col-md-12">
            <div id="main-2" style="height:400px;width:100%"></div>
            <div align=center> <input id=box1 type="checkbox" checked="checked" onclick="abs_click(this, 1)"> Absolute position </div>
          </div><!--/span-->
        </div><!--/row-->
      </div><!--/.fluid-container-->

      <div class="container featuretten col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1">
        <h1 class="page-header"></h1>
      </div>

      <div class="container featuretten col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1">
        <div class="row">
          <div id="graphic" class="col-md-12">
            <div id="main-3" style="height:400px;width:100%"></div>
            <div align=center> <input id=box2 type="checkbox" checked="checked" onclick="abs_click(this, 2)"> Absolute position </div>
          </div><!--/span-->
        </div><!--/row-->
      </div><!--/.fluid-container-->

      <div class="container featuretten col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1">
        <h1 class="page-header"></h1>
      </div>

      <div class="container featuretten col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1">
        <div class="row">
          <div id="graphic" class="col-md-12">
            <div id="main-4" style="height:400px;width:100%"></div>
            <div align=center> <input id=box3 type="checkbox" checked="checked" onclick="abs_click(this, 3)"> Absolute position </div>
          </div><!--/span-->
        </div><!--/row-->
      </div><!--/.fluid-container-->
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
        var abs_pos = new Array();
        for (i=0; i < 4; i++) {
          abs_pos[i] = document.getElementById("box"+i).checked;
        }
        require.config({
            packages: [
                {
                    name: 'echarts',
                    location: '/static/echarts/src',
                    main: 'echarts'
                },
                {
                    name: 'zrender',
                    //location: 'http://ecomfe.github.io/zrender/src',
                    location: '/static/zrender/src',
                    main: 'zrender'
                }
            ]
        });

        var w_disk = {{rw_disk|safe}}
        var r_disk = {{r_disk|safe}}
        var w_flash = {{rw_flash|safe}}
        var r_flash = {{r_flash|safe}}


        var data_set = [w_disk, r_disk, w_flash, r_flash];
        var s = [];
        var ts = [];
        for (var i = 0; i < data_set.length; ++i) {
            var names = data_set[i].names;
            ts.push(data_set[i].ts);
            var data = data_set[i].data;

            var tmp = new Array();
            for (var j = 0; j < names.length; ++j) {
                var chart = new Object();
                chart.name = names[j];
                chart.type = 'line';
                chart.data = data[j];
                chart.yAxisIndex = j;
                chart.symbol = "none";
                chart.smooth = true;
                tmp.push(chart)
            }
            s.push(tmp)
        }

        var tool = {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        }

        var names = [w_disk.names, r_disk.names, w_flash.names, r_flash.names];
        var options = new Array();

        var titles = ['Random Write - Disk', 'Random Read - Disk', 'Random Write - Flash', 'Random Read - Flash']
        var yAxises = [['M/s', 'times'], ['QPS', 'times'], ['M/s', 'times'], ['QPS', 'times']]
        for (var i = 0; i < names.length; ++i) {
            var option = {
                title : {
                    text: titles[i],
                    subtext: 'Powed by Tera-eva',
                    x: 'center'
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data: names[i],
                    x : 'right',
                    y : 'bottom'
                },
                toolbox: tool,
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        data : ts[i]
                    }
                ],
                yAxis : [
                    {
                        name : yAxises[i][0],
                        type : 'value',
                        scale : !abs_pos[i],
                        splitNumber: 6,
                        splitArea : {show : true}
                    },
                    {
                        name : yAxises[i][1],
                        type : !abs_pos[i],
                        //scale : true,
                        splitNumber: 6,
                        //splitArea : {show : true}
                    }
                ],
                series : s[i]
            };
            options.push(option)
        }
        var myCharts = new Array();
        require(
            [
                'echarts',
                'echarts/chart/line',
                'echarts/chart/bar'
            ],
            function (ec) {
                var elements = ['main-1', 'main-2', 'main-3', 'main-4'];
                //var options = [option, option_read]
                for (var i = 0; i < elements.length; ++i) {
                    myCharts[i] = ec.init(document.getElementById(elements[i]));
                    myCharts[i].showLoading({
                        test: "Loading..."
                    });
                    myCharts[i].hideLoading();
                    myCharts[i].setOption(options[i]);
                }
            }
        )
      function abs_click(box, id) {
          if (box.checked) {
            abs_pos[id] = true;
          } else {
            abs_pos[id] = false;
          }
          options[id].animation = false;
          options[id].yAxis[0].scale = !abs_pos[id];
          options[id].yAxis[1].scale = !abs_pos[id];
          myCharts[id].clear();
          myCharts[id].setOption(options[id]);
          myCharts[id].refresh();
          //alert(abs_pos);
      }
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include 'js.html' %}
  </body>
</html>
