<h1><a ></span></a>系统构建</h1>

<p>sh ./build.sh<br>
参考<a href="https://github.com/baidu/tera/blob/master/BUILD">BUILD</a></p>

<h1><a ></span></a>使用示例</h1>

<p><a href="https://github.com/baidu/tera/blob/master/doc/Onebox.md">通过OneBox体验Tera</a></p>

<p><a href="https://github.com/baidu/tera/blob/master/example/docker">通过docker体验Tera</a></p>

<p><a href="https://github.com/baidu/tera/blob/master/doc/sdk_dev_guide.md">SDK 开发入门</a></p>

<p><a href="https://github.com/baidu/tera/blob/master/doc/teracli.md">teracli 使用手册</a></p>

<h1><a ></span></a>反馈与技术支持</h1>

<p><a href="mailto:tera_dev@baidu.com">tera_dev@baidu.com</a></p>

<h1><a ></span></a>成为贡献者</h1>

<p>完成<a href="https://github.com/baidu/tera/blob/master/doc/to_be_a_contributor.md">5个小任务</a>,帮你一步步成为tera贡献者.</p>

<h1><a ></span></a>欢迎加入</h1>

<p>如果你热爱开源，热爱分布式技术，请将简历发送至： 
<a href="mailto:dist-lab@baidu.com">dist-lab@baidu.com</a></p>
